body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff00ff, #800080);
    color : #fff;
}

header {
    background-color: #800080;
    color: #e738af;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ff00ff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #800080;
    border: 1px solid #ff00ff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    z-index: 1;
}

#logout {
    background: linear-gradient(to right, #ff00ff, #800080);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    text-decoration: none;
    margin: 20px 0 20px 0;
}

#logout:hover {
    background: linear-gradient(to right, #800080, #ff00ff);
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.dropdown-content a:hover {
    background-color: #ff00ff;
}

#section {
    background-color: #800080;
    border: 1px solid #ff00ff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

#section h1 {
    color: #ff00ff;
}

#section h3 {
    color: #fff;
}

#section input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff00ff;
    border-radius: 5px;
    margin-bottom: 10px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #800080;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    border: 1px solid #ff00ff;
    border-radius: 5px;
}

input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ff00ff;
    border-radius: 4px;
}

input[type="number"] {
    width: 100px;
    border: 1px solid #ff00ff;
    border-radius: 4px;
    padding: 8px;
}

input[type="submit"] {
    background: linear-gradient(to right, #ff00ff, #800080);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background: linear-gradient(to right, #800080, #ff00ff);
}

.dropdown-profile-container {
    position: relative;
    display: inline-block;
}

.dropdown-profile-container > a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.dropdown-profile-container:hover ul {
    display: block;
}

.dropdown-profile-container li {
    padding: 8px 15px;
}

.dropdown-profile-container li:hover {
    background-color: #ff00ff;
}